.App {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}
